{% extends 'base.html.twig' %}

{% block title %}Post -
	{{post.title}}
{% endblock %}
{% block bread %}
→ Post
{% endblock %}
{% block body %}
  {{ include('micro_post/_post.html.twig', {post: post}) }}
  <div class="mt-4">
	<a href="{{ path('micro_post_index') }}" class="text-blue-500">Back to all posts</a>
  </div>
{% endblock %}
